<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>欢迎登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 登录表单 -->
  <ion-card>
    <ion-item>
      <ion-label position="floating">用户名：</ion-label>
      <ion-input [(ngModel)]="uname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">密码：</ion-label>
      <ion-input [(ngModel)]="upwd" type="password"></ion-input>
    </ion-item>
  </ion-card>
  <!-- button：登录按钮 -->
  <ion-button expand="block" (click)="doLogin()">登录</ion-button>
  <!-- grid：其他登录方式 -->
</ion-content>
