<!-- 页签组件页面 -->
<ion-tabs>
  <!-- 控制页签高度 -->
    <ion-tab-bar>
      <!-- TAB按钮:在路由出口展示”首页“ -->
      <ion-tab-button tab='index'>
        <ion-icon name='home'></ion-icon>
        <ion-label>首页</ion-label>
      </ion-tab-button>
      <!-- TAB按钮:在路由出口展示”商品列表页“ -->
      <ion-tab-button tab='product-list'>
        <ion-icon name='list'></ion-icon>
        <ion-label>商品</ion-label>
      </ion-tab-button>
      <!-- TAB按钮:在路由出口展示”购物车“ -->
      <ion-tab-button tab='cart'>
        <ion-icon name='cart'></ion-icon>
        <ion-label>购物车</ion-label>
      </ion-tab-button>
      <!-- TAB按钮:在路由出口展示”用户登录“ -->
      <ion-tab-button tab='user-login'>
        <ion-icon name='person'></ion-icon>
        <ion-label>登录</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>