<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>我的购物车</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-card-header>
        <ion-card-title>
          <h6>Apple</h6>
        </ion-card-title>
        <ion-card-subtitle>双核内存。。。。</ion-card-subtitle>
      </ion-card-header>
      <p style="margin-right:20px;color:red">￥35.50</p>
      <ion-button shape="round" fill="outline" >-</ion-button>
      <ion-input>1</ion-input>
      <ion-button shape="round">+</ion-button>
    </ion-item>
  </ion-card>
</ion-content>