.product-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0;
}
.product-subtitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin:0;
}